# Ignore node_modules in both frontend and backend
blogging-website-frontend/node_modules/
server/node_modules/

# Ignore logs
*.log

# Ignore environment files
server/.env

blogging-website-frontend/.env

# Ignore Google Cloud Service Account Credentials 

server/react-js-blog-website-1618a-firebase-adminsdk-fbsvc-b447eb8c0f.json

# Optional: Mac system file
.DS_Store

node_modules
