# Ignore node_modules in both frontend and backend
blogging-website-frontend/node_modules/
server/node_modules/

# Ignore logs
*.log

# Ignore environment files
server/.env

blogging-website-frontend/.env


# Optional: Mac system file
.DS_Store

node_modules
